In [12]:
# Library import lines declared on top.

import pandas as pd
import numpy as np
import os

In [16]:
# Notebook path

path = os.getcwd() + "/Documents/GitHub/DataScience Coder/"

# Dataset declaration

BA_SA_AIRBNB_DS = pd.read_csv(path+"/Datasets/Buenos_Aires_AIRBNB.csv")
DELAYED_FLIGHTS_DS = pd.read_csv(path+"/Datasets/DelayedFlights.csv")
AIR_TRAFIC_STATS_DS = pd.read_csv(path+"/Datasets/Air_Traffic_Passenger_Statistics.csv")

In [19]:
# Printing

print(BA_SA_AIRBNB_DS.head())
print(BA_SA_AIRBNB_DS.shape)
print(BA_SA_AIRBNB_DS.info())
print(BA_SA_AIRBNB_DS.describe())

      id                                 name  host_id host_name  \
0   7270  ¡¡Great Loft in Palermo Hollywood!!    18822      Toni
1  11508   Amazing Luxurious Apt-Palermo Soho    42762   Candela
2  12463  Room in Recoleta - awesome location    48799      Matt
3  13095   Standard Room at Palermo Viejo B&B    50994     Ariel
4  13096   Standard Room in Palermo Viejo B&B    50994     Ariel

  neighbourhood  latitude  longitude        room_type  price  minimum_nights  \
0       Palermo -34.58241  -58.43382  Entire home/apt   2033              20
1       Palermo -34.58225  -58.42460  Entire home/apt   3588               2
2      Recoleta -34.59761  -58.39468     Private room   1435               1
3       Palermo -34.59382  -58.42994     Private room   2691               1
4       Palermo -34.59398  -58.42853     Private room   2691               1

   number_of_reviews last_review  reviews_per_month  \
0                 14  30-04-2018               0.15
1                 25  13-08-2019               0.28
2                 20  11-12-2017               0.17
3                  1  18-12-2018               0.09
4                  0         NaN                NaN

   calculated_host_listings_count  availability_365
0                               1               363
1                               1               281
2                               1               365
3                               7               360
4                               7               360
(22877, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22877 entries, 0 to 22876
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              22877 non-null  int64
 1   name                            22867 non-null  object
 2   host_id                         22877 non-null  int64
 3   host_name                       22854 non-null  object
 4   neighbourhood                   22877 non-null  object
 5   latitude                        22877 non-null  float64
 6   longitude                       22877 non-null  float64
 7   room_type                       22877 non-null  object
 8   price                           22877 non-null  int64
 9   minimum_nights                  22877 non-null  int64
 10  number_of_reviews               22877 non-null  int64
 11  last_review                     16432 non-null  object
 12  reviews_per_month               16432 non-null  float64
 13  calculated_host_listings_count  22877 non-null  int64
 14  availability_365                22877 non-null  int64
dtypes: float64(3), int64(7), object(5)
memory usage: 2.6+ MB
None
                 id       host_id      latitude     longitude          price  \
count  2.287700e+04  2.287700e+04  22877.000000  22877.000000   22877.000000
mean   2.487670e+07  9.739731e+07    -34.592534    -58.416364    3214.630196
std    1.191191e+07  9.274044e+07      0.018304      0.029937   12364.429880
min    7.270000e+03  2.616000e+03    -34.688950    -58.530200     120.000000
25%    1.631899e+07  1.363528e+07    -34.603400    -58.435630    1196.000000
50%    2.856388e+07  6.212518e+07    -34.591830    -58.415950    1973.000000
75%    3.454449e+07  1.713546e+08    -34.581970    -58.392220    2990.000000
max    4.035243e+07  3.118884e+08    -34.532720    -58.354880  597865.000000

       minimum_nights  number_of_reviews  reviews_per_month  \
count    22877.000000       22877.000000       16432.000000
mean         5.653233          15.482974           1.266434
std         21.513176          31.268565           1.440429
min          1.000000           0.000000           0.010000
25%          1.000000           0.000000           0.250000
50%          3.000000           4.000000           0.760000
75%          4.000000          16.000000           1.810000
max       1125.000000         600.000000          37.580000

       calculated_host_listings_count  availability_365
count                    22877.000000      22877.000000
mean                         6.296062        202.064912
std                         14.748998        134.161675
min                          1.000000          0.000000
25%                          1.000000         83.000000
50%                          1.000000        180.000000
75%                          4.000000        343.000000
max                        105.000000        365.000000

In [20]:
print(DELAYED_FLIGHTS_DS.head())
print(DELAYED_FLIGHTS_DS.shape)
print(DELAYED_FLIGHTS_DS.info())
print(DELAYED_FLIGHTS_DS.describe())

   Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  \
0           0  2008      1           3          4   2003.0        1955
1           1  2008      1           3          4    754.0         735
2           2  2008      1           3          4    628.0         620
3           4  2008      1           3          4   1829.0        1755
4           5  2008      1           3          4   1940.0        1915

   ArrTime  CRSArrTime UniqueCarrier  ...  TaxiIn TaxiOut  Cancelled  \
0   2211.0        2225            WN  ...     4.0     8.0          0
1   1002.0        1000            WN  ...     5.0    10.0          0
2    804.0         750            WN  ...     3.0    17.0          0
3   1959.0        1925            WN  ...     3.0    10.0          0
4   2121.0        2110            WN  ...     4.0    10.0          0

   CancellationCode  Diverted  CarrierDelay  WeatherDelay NASDelay  \
0                 N         0           NaN           NaN      NaN
1                 N         0           NaN           NaN      NaN
2                 N         0           NaN           NaN      NaN
3                 N         0           2.0           0.0      0.0
4                 N         0           NaN           NaN      NaN

  SecurityDelay  LateAircraftDelay
0           NaN                NaN
1           NaN                NaN
2           NaN                NaN
3           0.0               32.0
4           NaN                NaN

[5 rows x 30 columns]
(1936758, 30)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB
None
         Unnamed: 0       Year         Month    DayofMonth     DayOfWeek  \
count  1.936758e+06  1936758.0  1.936758e+06  1.936758e+06  1.936758e+06
mean   3.341651e+06     2008.0  6.111106e+00  1.575347e+01  3.984827e+00
std    2.066065e+06        0.0  3.482546e+00  8.776272e+00  1.995966e+00
min    0.000000e+00     2008.0  1.000000e+00  1.000000e+00  1.000000e+00
25%    1.517452e+06     2008.0  3.000000e+00  8.000000e+00  2.000000e+00
50%    3.242558e+06     2008.0  6.000000e+00  1.600000e+01  4.000000e+00
75%    4.972467e+06     2008.0  9.000000e+00  2.300000e+01  6.000000e+00
max    7.009727e+06     2008.0  1.200000e+01  3.100000e+01  7.000000e+00

            DepTime    CRSDepTime       ArrTime    CRSArrTime     FlightNum  \
count  1.936758e+06  1.936758e+06  1.929648e+06  1.936758e+06  1.936758e+06
mean   1.518534e+03  1.467473e+03  1.610141e+03  1.634225e+03  2.184263e+03
std    4.504853e+02  4.247668e+02  5.481781e+02  4.646347e+02  1.944702e+03
min    1.000000e+00  0.000000e+00  1.000000e+00  0.000000e+00  1.000000e+00
25%    1.203000e+03  1.135000e+03  1.316000e+03  1.325000e+03  6.100000e+02
50%    1.545000e+03  1.510000e+03  1.715000e+03  1.705000e+03  1.543000e+03
75%    1.900000e+03  1.815000e+03  2.030000e+03  2.014000e+03  3.422000e+03
max    2.400000e+03  2.359000e+03  2.400000e+03  2.400000e+03  9.742000e+03

       ...      Distance        TaxiIn       TaxiOut     Cancelled  \
count  ...  1.936758e+06  1.929648e+06  1.936303e+06  1.936758e+06
mean   ...  7.656862e+02  6.812975e+00  1.823220e+01  3.268348e-04
std    ...  5.744797e+02  5.273595e+00  1.433853e+01  1.807562e-02
min    ...  1.100000e+01  0.000000e+00  0.000000e+00  0.000000e+00
25%    ...  3.380000e+02  4.000000e+00  1.000000e+01  0.000000e+00
50%    ...  6.060000e+02  6.000000e+00  1.400000e+01  0.000000e+00
75%    ...  9.980000e+02  8.000000e+00  2.100000e+01  0.000000e+00
max    ...  4.962000e+03  2.400000e+02  4.220000e+02  1.000000e+00

           Diverted  CarrierDelay  WeatherDelay      NASDelay  SecurityDelay  \
count  1.936758e+06  1.247488e+06  1.247488e+06  1.247488e+06   1.247488e+06
mean   4.003598e-03  1.917940e+01  3.703571e+00  1.502164e+01   9.013714e-02
std    6.314722e-02  4.354621e+01  2.149290e+01  3.383305e+01   2.022714e+00
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00   0.000000e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00   0.000000e+00
50%    0.000000e+00  2.000000e+00  0.000000e+00  2.000000e+00   0.000000e+00
75%    0.000000e+00  2.100000e+01  0.000000e+00  1.500000e+01   0.000000e+00
max    1.000000e+00  2.436000e+03  1.352000e+03  1.357000e+03   3.920000e+02

       LateAircraftDelay
count       1.247488e+06
mean        2.529647e+01
std         4.205486e+01
min         0.000000e+00
25%         0.000000e+00
50%         8.000000e+00
75%         3.300000e+01
max         1.316000e+03

[8 rows x 25 columns]

In [21]:
print(AIR_TRAFIC_STATS_DS.head())
print(AIR_TRAFIC_STATS_DS.shape)
print(AIR_TRAFIC_STATS_DS.info())
print(AIR_TRAFIC_STATS_DS.describe())

   index  Activity Period Operating Airline Operating Airline IATA Code  \
0      0           200507      ATA Airlines                          TZ
1      1           200507      ATA Airlines                          TZ
2      2           200507      ATA Airlines                          TZ
3      3           200507       Air Canada                           AC
4      4           200507       Air Canada                           AC

  Published Airline Published Airline IATA Code    GEO Summary GEO Region  \
0      ATA Airlines                          TZ       Domestic         US
1      ATA Airlines                          TZ       Domestic         US
2      ATA Airlines                          TZ       Domestic         US
3       Air Canada                           AC  International     Canada
4       Air Canada                           AC  International     Canada

  Activity Type Code Price Category Code    Terminal Boarding Area  \
0           Deplaned            Low Fare  Terminal 1             B
1           Enplaned            Low Fare  Terminal 1             B
2     Thru / Transit            Low Fare  Terminal 1             B
3           Deplaned               Other  Terminal 1             B
4           Enplaned               Other  Terminal 1             B

   Passenger Count Adjusted Activity Type Code  Adjusted Passenger Count  \
0            27271                    Deplaned                     27271
1            29131                    Enplaned                     29131
2             5415          Thru / Transit * 2                     10830
3            35156                    Deplaned                     35156
4            34090                    Enplaned                     34090

   Year Month
0  2005  July
1  2005  July
2  2005  July
3  2005  July
4  2005  July
(15007, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   index                        15007 non-null  int64
 1   Activity Period              15007 non-null  int64
 2   Operating Airline            15007 non-null  object
 3   Operating Airline IATA Code  14953 non-null  object
 4   Published Airline            15007 non-null  object
 5   Published Airline IATA Code  14953 non-null  object
 6   GEO Summary                  15007 non-null  object
 7   GEO Region                   15007 non-null  object
 8   Activity Type Code           15007 non-null  object
 9   Price Category Code          15007 non-null  object
 10  Terminal                     15007 non-null  object
 11  Boarding Area                15007 non-null  object
 12  Passenger Count              15007 non-null  int64
 13  Adjusted Activity Type Code  15007 non-null  object
 14  Adjusted Passenger Count     15007 non-null  int64
 15  Year                         15007 non-null  int64
 16  Month                        15007 non-null  object
dtypes: int64(5), object(12)
memory usage: 1.9+ MB
None
             index  Activity Period  Passenger Count  \
count  15007.00000     15007.000000     15007.000000
mean    7503.00000    201045.073366     29240.521090
std     4332.29208       313.336196     58319.509284
min        0.00000    200507.000000         1.000000
25%     3751.50000    200803.000000      5373.500000
50%     7503.00000    201011.000000      9210.000000
75%    11254.50000    201308.000000     21158.500000
max    15006.00000    201603.000000    659837.000000

       Adjusted Passenger Count          Year
count              15007.000000  15007.000000
mean               29331.917105   2010.385220
std                58284.182219      3.137589
min                    1.000000   2005.000000
25%                 5495.500000   2008.000000
50%                 9354.000000   2010.000000
75%                21182.000000   2013.000000
max               659837.000000   2016.000000